@import url('styles.css');

h1 {
    font-family: Arial;
    color: lightgrey;
}

h2 {
    font-family: 'Arial';
    color: black;
}

h3 {
    font-family: 'Arial';
    color: black;
}

h4 {
    font-family: 'Arial';
    color: black;
}

